body,
p   {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;      /* tamanho da fonte */
    font-style: italic;     /* estilo */
    color: rgb(0, 0, 0); /* cor do texto */
    text-align: center;     /* alinhamento */
}
.principal {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-rows: 100px 450px 150px;
    grid-template-areas: "cabecalho cabecalho" 
                         "secao barra" 
                         ;
    border-collapse: collapse;
}

header {
   grid-area: cabecalho;
   background-color: #487de0;
}

section {
    grid-area: secao;
    background-color: #2e8b77;
 }

 aside {
    grid-area: barra-lateral;
    background-color: #4488a3;
 }

 footer {
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
 }
 
@media(max-width: 992px) {
     .principal {
        grid-template-columns: 100%;
        grid-template-areas: "cabecalho" "secao" ;
     }


