*{ margin:0; padding:0;}

body{ font:100% normal Arial, Helvetica, sans-serif;
    }

form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

div.box {
    margin:0 auto;
    width:500px;
    background:#c8d6f0;
    position:relative;
    top:50px;
    border:1px solid #272727;
}

div.box h1 {
    color:#000000;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box label {
    width:100%;
    display: block;
    background:#113042;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#bbbbbb;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#c8d6f0;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}

div.box .message{
    padding:7px 7px;
    width:350px;
    background:#c8d6f0;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    overflow:hidden;
    height:150px;
}

div.box .button{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#0092cc;
    border:0px;
    position: relative;
    top:10px;
    left:382px;
    width:100px;
    border-bottom: 1px double #000000;
    border-top: 1px double #000000;
    border-left:1px double #000000;
    border-right:1px double #000000;
}

body {
    align-items: center;
    text-align: center;
}
